.about{
    margin-top: 120px;
    margin-left: 150px;
}

.header{
    font-size:40px;
    margin-bottom: 30px;
    font-weight: 700;
    color: #EDD955;
}

.header-why{
color: #fff;
}

.imgg{
    background-color: rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(10px); /* Frosted glass effect */
    display: flex;
    align-items: center;
    justify-content: center;
}

